<!doctype html>
<html data-ng-app="kp">
	<head>
		<title>Kenny's Playground Embed</title>
		<base href="/" />
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="publisher" href="https://plus.google.com/109482188070809842623" />
		<link rel="author" href="https://www.google.com/+kennycosca" />
		<link rel="stylesheet" href="/css/lerts.css" />
		<link rel="stylesheet" href="/css/sons-of-obsidian.css" />
		<link rel="stylesheet" href="/css/embed.css" />
	</head>
	<body data-ng-controller="MainController">
		<header>
			<h1 class="mobile-hide">{{playground.name}}</h1>
			<div class="tab-buttons">
				<button data-ng-show="playground.html" data-ng-click="tab=1" data-ng-class="{disabled:tab != 1}">html</button>
				<button data-ng-show="playground.css" data-ng-click="tab=2" data-ng-class="{disabled:tab != 2}">css</button>
				<button data-ng-show="playground.js" data-ng-click="tab=3" data-ng-class="{disabled:tab != 3}">js</button>
				<button data-ng-click="tab=4" data-ng-class="{disabled:tab != 4}">output</button>
			</div>
		</header>
		<div class="main">
			<pre id="html" data-ng-show="tab == 1" class="prettyprint linenums lang-html">{{playground.html}}</pre>
			<pre id="css" data-ng-show="tab == 2" class="prettyprint linenums">{{playground.css}}</pre>
			<pre id="js" data-ng-show="tab == 3" class="prettyprint linenums">{{playground.js}}</pre>
			<iframe id="output" data-ng-show="tab == 4"></iframe>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="/js/embed.js"></script>
		<script src="/js/playground-api.js"></script>
		<script src="/js/lerts.js"></script>
		<script src="/js/prettify.js"></script>
	</body>
</html>
