<!doctype html>
<html data-ng-app="kp">
	<head>
		<title>Kenny's Playground</title>
		<base href="/" />
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="publisher" href="https://plus.google.com/109482188070809842623" />
		<link rel="author" href="https://www.google.com/+kennycosca" />
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
		<link rel="stylesheet" type="text/css" href="/css/lerts.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
		<script src="/js/app.js"></script>
		<script src="/js/playground-api.js"></script>
		<script src="/js/lerts.js"></script>
		<script src="/js/contenteditable.js"></script>
	</head>
	<body data-ng-controller="MainController">
		<header>
			<h1 contentEditable data-ng-model="playground.name" spellcheck="false">playground</h1>
		</header>
		<div class="main">
			<div id="code" data-ng-show="showCode" ng-style="{width:getToolWidth()}">
				<div data-ng-show="showHTML" ng-style="{height:getToolHeight()}">
					<textarea placeholder="Enter HTML Here!" data-ng-model="playground.html" spellcheck="false"></textarea>
				</div>
				<div data-ng-show="showCSS" ng-style="{height:getToolHeight()}">
					<textarea placeholder="Enter CSS Here!" data-ng-model="playground.css" spellcheck="false"></textarea>
				</div>
				<div data-ng-show="showJS" ng-style="{height:getToolHeight()}">
					<textarea placeholder="Enter JavaScript Here!" data-ng-model="playground.js" spellcheck="false"></textarea>
				</div>
			</div>
			<div id="output" data-ng-show="showOutput" data-ng-style="{width:getIframeWidth()}">
				<iframe id="iframe"></iframe>
			</div>
		</div>
		<footer>
			<div class="left">
				<button data-ng-class="{disabled:!edited}" data-ng-click="save()">
					save
				</button>
				<button data-ng-click="refresh()">
					refresh
				</button>
				<input type="checkbox" data-ng-model="autoRefresh"/>auto <span class="mobile-hide">refresh</span>
			</div>
			<div class="right">
				<button data-ng-click="showHTML = !showHTML" data-ng-class="{disabled:!showHTML}">
					html
				</button>
				<button data-ng-click="showCSS = !showCSS" data-ng-class="{disabled:!showCSS}">
					css
				</button>
				<button data-ng-click="showJS = !showJS" data-ng-class="{disabled:!showJS}">
					javascript
				</button>
				<button data-ng-click="showOutput = !showOutput" data-ng-class="{disabled:!showOutput}">
					output
				</button>
			</div>
		</footer>
	</body>
</html>
